<%= form_with(model: kid, local: true) do |form| %>
<% if kid.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(kid.errors.count, "error") %> prohibited this kid from being saved:</h2>

  <ul>
    <% kid.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<br>
<div class="row">
  <div class="col-2">
    <%= form.label :name %>
  </div>
  <div class="col-5">
    <%= form.text_field :name, id: :kid_name %>
  </div> 
</div> <!-- first row -->
<br>
<div class="row">
  <div class="col-2">
    <%= form.label :birthdate %>
  </div>
  <div class="col-5">
    <%= form.date_select :birthdate, id: :kid_birthdate, start_year: 2000, end_year: 2013,
order: [:month, :day, :year], prompt: { day: 'Day', month: 'Month', year: 'Year' } %>
  </div>
</div><!-- second row -->
<br>
<div class="row">
  <div class="col-2">
    <%= form.label :grade %>
  </div>
  <div class="col-5">
<!--    < %= form.text_field :grade, id: :kid_grade %>-->
    <%= form.select :grade, ['Pre-K', 'Kindergarten', '1', '2', '3', '4', '5', '6'], prompt: 'Grade' %>
  </div>


</div><!-- third row -->
<br>
<div class="field">
  <%= form.hidden_field :family_id, value: @family.id %>
</div>

<div class="actions">
  <%= form.button :"Add Child", class: "btn btn-medium btn-info" %>
</div>
<% end %>

