<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <div class="col-2"></div>
    <div class="col-4">
      <span class="h2 pb-3"><%= "#{@kid.name}" %></span><br><br>
    </div>
    <div class="col-6"></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <p>
        <strong>Name:</strong>
        <%= @kid.name %>
      </p>


      <p>
        <strong>Grade:</strong>
        <%= @kid.grade %>
      </p>

      <p>
        <strong>Family:</strong>
        <%= @kid.family.fname %> 
      </p>

      <p>
      
        <%= render 'school_rides/formtoschool', school_ride: @school_ride %>
      
      </p>


      
    </div> <!-- main column (6) -->
  </div> <!-- row -->
</div> <!-- container --> 