<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kid.name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @kid.birthdate %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @kid.grade %>
</p>

<p>
  <strong>Family:</strong>
  <%= @kid.family_id %>
</p>

<%= link_to 'Edit', edit_kid_path(@kid) %> |
<%= link_to 'Back', kids_path %>
