
<%= form_with(model: home_ride, local: true) do |form| %>



<div>
  <%= form.label :check_out_time %><br>
  <%= form.datetime_select :check_out_time, { ampm: true, default: 6.hours.ago, order: [:month, :day, :year]},{ } %><br><br>
</div>


<div>
  <%= form.hidden_field :kid_id, value: @kid.id %>
</div>


<p>
  <%= form.submit %>
</p>
<% end %> 