<%= form_with(model: family, local: true) do |form| %>
  <% if family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
      <% family.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Family Name" %><br>
    <%= form.text_field :fname, id: :family_fname %><br>
  </div>
<br><div class="field">
    <%= form.label "First Parent's Name" %><br>
    <%= form.text_field :parent1_name, id: :family_parent1_name %><br>
  </div>
<br>
  <div class="field">
    <%= form.label "First Parent's Phone Number" %><br>
    <%= form.text_field :parent1_phone, id: :family_parent1_phone, placeholder: 'xxx-xxx-xxxx', value: number_to_phone(@family.parent1_phone, area_code: true) %><br>
  </div>
<br>
  <div class="field">
    <%= form.label "Second Parent's Name" %> <br>
    <%= form.text_field :parent2_name, id: :family_parent2_name %><br>
  </div>
<br>
  <div class="field">
    <%= form.label "Second Parent's Phone Number" %><br>
    <%= form.telephone_field :parent2_phone, id: :family_parent2_phone, placeholder: 'xxx-xxx-xxxx', value: number_to_phone(@family.parent1_phone, area_code: true) %><br>
  </div>
<br>

<br>
  <div class="actions">
    <%= form.button :Submit, class: "btn btn-medium btn-info" %>
  </div>
<% end %>

