<%= form_with(model: family, local: true) do |form| %>
  <% if family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
      <% family.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :parent1_name %>
    <%= form.text_field :parent1_name, id: :family_parent1_name %>
  </div>

  <div class="field">
    <%= form.label :parent1_phone %>
    <%= form.number_field :parent1_phone, id: :family_parent1_phone %>
  </div>

  <div class="field">
    <%= form.label :parent2_name %>
    <%= form.text_field :parent2_name, id: :family_parent2_name %>
  </div>

  <div class="field">
    <%= form.label :parent2_phone %>
    <%= form.number_field :parent2_phone, id: :family_parent2_phone %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :family_notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
