
<%= form_with(model: @school_ride) do |form| %>

<!--< %= form_with model: @school_ride, :url => school_rides_path, :html => { :method => :post } do |form| %>-->



<p>School ride form.</p>
<div><p>
  <%= form.label :check_in %><br>
  <%= form.check_box :check_in %><br>
  </p>
</div>

<div><p>
  <%= form.label :test %><br>
  <%= form.text_field :test %><br>
  </p>
</div>

<div>
  <!--  < %= form.hidden_field :kid_id, value: @kid.id %>-->
</div>

<div><p>
  <%= form.label :kid %><br>
  <%= form.collection_select :kid_id, Kid.all.order(:name), :id, :name  %><br>
  </p>
</div>

<p>
  <%= form.submit %>
</p>
<% end %> 