
<%= form_with(model: school_ride, local: true) do |form| %>



<div>
  <%= form.label :check_in_time %><br>
  <%= form.datetime_select :check_in_time %><br><br>
</div>


<div>
  <%= form.hidden_field :kid_id, value: @kid.id %>
</div>


<p>
  <%= form.submit %>
</p>
<% end %> 