
<%= form_with(model: school_ride, local: true) do |form| %>



<div>
  <%= form.label :check_in_time %><br>
  <%= form. datetime_select :check_in_time, { ampm: true, default: 6.hours.ago, order: [:month, :day, :year]},{ }%><br><br>
</div>


<div>
  <%= form.hidden_field :kid_id, value: @kid.id %>
</div>


<p>
  <div class="actions">
  <%= form.button :"Check in", class: "btn btn-medium btn-info" %>
</div>
</p>
<% end %> 