<!DOCTYPE html>
<html>
  <head>
    <title>Yellow Schoolbus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs justify-content-end h5 text-uppercase">
         <li><%= link_to 'Families', families_path, :class =>"nav-link" %></li>
         <li><%= link_to 'Kids', kids_path, :class =>"nav-link" %></li>
      </ul>
    </div>

    <%= yield %>
  </body>
</html>
